
/*--------configuraciones generales--------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
 :root{
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
  }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
font-family: 'Roboto', sans-serif;
--body-color: hsl(206, 4%, 97%);
}

/*------encabezado  y barra de navegacion--------*/
.containerNav{
    display: flex;
}
.flotante1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: .5rem;
}
.logo-academlo>img{
    height: 35px;
    width: 35px;
}
.nav-btns{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    margin: .5rem;
    width: 48%;
    gap: 10px;
}
/*---------------------------------------*/
/*--contenedor cuadro rojo--*/
.home-img{
    width: 400px;
    height: 381px;
  }
/*------------------------------------*/
/*------cuadro rojo---------------*/
.home-img-bg{
    background-color:var(--first-color);
    width: 60%;
    max-width: 350px;
    position: absolute;
    right: 0;
    top: -4.5rem;
    height: 429px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.home-img img{
    width: 270px;
    height: 270px;
    object-fit: contain;
}
/*-----------------------------------------------*/
/*--------posicionamiento cuadro rojo---------*/
.prueba{
    position: relative;
}
.p1{
    z-index: 2;
}
.p2{
    z-index: 1;
}
/*-----------------------------------------------*/
/*-----------titulo-------------*/
.title{
    display:flex;
    justify-content: center;
    margin: 5%;
    color:  hsl(0, 0%, 15%);
    font-size: 25px;
    text-align: start;
}
/*-----------------------------------------------*/
/*-----parrafo descripcion titulo---*/
.parrafo1{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 15px;
    text-align: justify;
}
/*-----------------------------------------------*/
/*-----tamaño y color texto precio titulo----*/
.price{
   margin: 5%;
   font-size: 20px;
}
.priceText{
    color: hsl(354, 78%, 60%);
}
/*-----------------------------------------------*/
/*------botones discover y add to cart-----*/

.discoverBox{
    margin: 5%;
    background-color:grey;
    display:inline-flex;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.discoverText{
    color: black
}
/*--------------------*/
/*----botones productos----*/




.shopping-cart-overlay{
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(122, 122, 122, 0.397);
  position: fixed;
  left: 0;
  top:0;
  display: none;
  z-index: 50;
  
}

.shopping-cart-overlay.mostrar{
  display: block;
}

.selected-products-list{
  background-color: var(--body-color);
  width: 100%;
  min-height: 100vh;
  padding: 1.5rem 1rem;
  max-width: 450px;
  position: absolute;
  right: 0;
  top: 0;
}

.empty-state{
  min-height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  align-items: center;
}

.empty-state > img{
    max-width: 250px;
}


.cart-item img{
  width: 50px;
}

.cart-price{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}





.addCart{
    margin: 5%;
    background-color:black;
    display: inline-flex;
    padding: 15px;
    padding-right: 25px;
    padding-left:25px;
}

.addCartText{
    color: white;
    font-size: medium;
}

.productos{
display: flex;
justify-content: space-evenly;
margin: 5%;
}

.productos>div>button{
  background-color: white;
  border-top: none;
  border-bottom: none;
}

  #card-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.card{
    width: 25vw;
    height: 35vw;
    background-color: hsl(0, 0%, 90%);
    margin: 10px;
    border-radius: 10%;
    min-width: 230px;
    min-height: 300px;
    position: relative;
}

.card-img{
    height: 75%;
    margin-bottom: 10px;
    background-size: cover;
}

.card1{
    background-image: url(/assets/images/featured1.png);
}

.card2{
    background-image: url(/assets/images/featured2.png);
}

.card3{
    background-image: url(/assets/images/featured3.png);
}

.card-body{
    background-color: hsl(206, 4%, 97%);
    height: 25%;
}

.card-title{
    font-size: 20px;
    display: inline-block;
}

.card>h4{
    font-size: 18px;
}

.agregar{
    display: flex;
    width: 35px;
    height: 35px;
    border: solid hsl(0, 0%, 55%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: calc(25% - 27px);
    background-color: hsl(0, 0%, 90%);;
}

.agregar>a{
    font-size: 25px;
    color: hsl(0, 0%, 35%);
}


/*--------------------------footer-----------*/

footer{
  display: flex;
  background-color: grey;
  padding: 20px 30px;
  flex-direction: column; 
  text-align: center;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  font-size: 15px;
 
}

footer{
    padding: 15px;
}


footer>div>ul{
  list-style: none;
  padding: 10px 0;
}

footer>div>ul>li{
  padding: 5px;
  text-align: start;
}

.footocial{
    display: flex;
    flex-direction: column;
}

.footInfo,
.footAbout,
.footProduct > ul>li{
     font-size: 15px;
}



/* ------------------media-queries-------------------*/

@media screen and ( min-width:600px ) {
/*   
  footer{
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 100px 30px;
} */

}

@media screen and (min-width: 768px) { 
  
  
  input#menu-hamburguesa{
    visibility:hidden;
  }
  
  input#menu-hamburguesa ~ ul{
    background-color: blue;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
  top: 60px;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  display: none;
}

input#menu-hamburguesa:checked ~ ul{
  display: flex;
}

}